{% extends 'base.html' %}
{% block content %}
<div id="banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
            
                <!-- Banner -->
                    <div id="banner" class="box">

                        <div>
                            <div class="row">
                                <div class="7u">
                                    <h2>AnjoMeu.org</h2>
                                    <p>Plataforma de Financiamento coletivo, crie uma campanha ou ajude quem precisa.</p>
                                </div>
                                <div class="5u">
                                    <ul>
                                        <li><a href="{% url 'home:newuser' %}" class="button big fa fa-arrow-circle-right">Criar campanha</a></li>
                                        <li><a href="#content" class="button alt big fa fa-question-circle">Saiba mais</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                    </div>

            </div>
        </div>
    </div>
</div>

<!-- Features Wrapper -->
<div id="features-wrapper">
    <div class="container">
        <div class="main">
            <div class="row">
                {% if campaign %}
                    {% for c in campaign %}
                        <div class="arrumada">
                            <div class="4u">
                                    <!-- Box -->
                                    <section class="box box-feature">
                                        <a href="#" class="image image-full"><img src="{{ c.image.url }}" alt="" width="218" height="160" /></a>
                                        <div class="inner">
                                            <header>
                                                <h2>{{ c.title }}</h2>
                                                <span class="byline">Criada por {{ c.user.first_name }} e precisa de R$ {{ c.goal }}</span>
                                            </header>
                                            <p>{{ c.message|truncatewords:10 }}</p>
                                            
                                            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                                            <!-- Declaração do formulário -->  
                                            <form target="pagseguro" method="post"   
                                                action="https://pagseguro.uol.com.br/v2/checkout/cart.html?action=add" accept-charset="ISO-8859-1" class="form-pgs">  
                                                  
                                                <!-- Campos obrigatórios -->  
                                                <input type="hidden" name="receiverEmail" value="fandrefh@gmail.com">  
                                                <input type="hidden" name="currency" value="BRL">  
                                                  
                                                <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
                                                <input type="hidden" name="itemId" value="{{ c.id }}">  
                                                <input type="hidden" name="itemDescription" value="{{ c.title }}">  
                                                <input type="hidden" name="itemAmount" value="{{ c.donations|cut:"," }}">  
                                                <input type="hidden" name="itemQuantity" value="1">  
                                                <input type="hidden" name="itemWeight" value="0"> 
                                                  
                                                <!-- submit do form (obrigatório) -->  
                                                <input type="submit" name="submit" class="button-pgs" value="Quero doar">  
                                                  
                                            </form>
                                            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                                        </div>
                                    </section>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Ops! Nenhuma campanha foi encontrada. Aproveite e <a href="{% url 'campaign:createcampaign' %}">crie a sua</a> e comece a arrecadar aquela grana de que tanto precisa!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="4u">
            
                <!-- Sidebar -->
                    <div id="sidebar">
                        <section class="widget-thumbnails">
                            <h3>Campanhas criadas</h3>
                            <div class="grid">
                                <div class="row no-collapse half">
                                    {% if camp_created %}
                                        {% for cc in camp_created %}
                                        <div class="6u"><a href="{{ cc.id }}" class="image image-full"><img src="{{ cc.image.url }}" width="180px" height="101" alt="{{ cc.title }}" title="{{ cc.title }}" /></a></div>
                                        {% endfor %}
                                    {% else %}
                                        <p>Ops! Nenhuma campanha foi encontrada. Aproveite e <a href="{% url 'campaign:createcampaign' %}">crie a sua</a> e comece a arrecadar aquela grana de que tanto precisa!</p>
                                    {% endif %}

                                </div>
                            </div>
                            <a href="{% url 'campaign:listcampaign' %}" class="button fa fa-file-text-o">Ver mais</a>
                        </section>
                    </div>
            
            </div>
            <div class="8u">

                <!-- Content -->
                    <div id="content">
                        <section class="last">
                            <h2>Quem somos?</h2>

                            <p>
                                Somos uma plataforma de <a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="_blank" title="Ir para Wikipedia e ver uma descrição">Crowdfunding</a>, em português significa Financiamento coletivo, destina-se através de doações a arrecadar dinheiro online para a realização de projetos pessoais de qualquer natureza.
                            </p>
                            <p>
                                Se precisar crie sua campanha ou faça sua doação!
                            </p>
                            <a href="{% url 'home:newuser' %}" class="button fa fa-arrow-circle-right">Criar campanha</a>
                            <a href="{% url 'campaign:listcampaign' %}" class="button fa fa-arrow-circle-right">Fazer uma doação</a>
                        </section>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}