{% extends 'base.html' %}

{% block title %}Usuário logado | {{ block.super }}{% endblock title %}

{% block content %}
	<div class="container">
		{% if user.is_authenticated %}
			<h2>Login efetuado com sucesso!</h2>
				<h3>Comece aqui</h3>
				<div class="infor-user">
					<ul class="menu-user">
						<li><a href="{% url 'home:userinfor' user.id %}" class="link-logged">Meus dados</a></li>
						<li><a href="{% url 'campaign:createcampaign' %}" class="link-logged">Crie sua campanha</a><li><a href="{% url 'campaign:mylistcampaign' user.id %}" class="link-logged">Ver minhas campanhas</a></li><li><a href="{% url 'campaign:createcampaign' %}" class="link-logged">Crie sua campanha</a></li>
						<li><a href="{% url 'campaign:listcampaign' %}" class="link-logged">Faça uma doação</a></li>
						<li><a href="{% url 'home:addbank' %}" class="link-logged">Cadastre seus dados financeiros (necessário para o recebimento das doações)</a></li>
						<li><a href="{% url 'campaign:getpayment' %}" class="link-logged">Solicitar saque</a></li>
					</ul>
				</div>
		{% endif %}
{% endblock content %}